{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Listar Categorias</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>PHOTO</th>
        </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.id }}</td>
                <td>{{ categoria.name }}</td>
                <td>{{ categoria.photo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}