{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Listar archivos</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>ARCHIVO</th>
            <th>FECHA</th>
            <th>VIDEO</th>
        </tr>
        </thead>
        <tbody>
        {% for archivo in archivos %}
            <tr>
                <td>{{ archivo.id }}</td>
                <td>{{ archivo.file }}</td>
                <td>{{ archivo.date | date('H:m:s | d/m/Y') }}</td>
                <td>{{ archivo.video }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}