*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    background-color: #23272b;
    padding-top: 4.5rem;
    color: #efefef;
}
/* LOGIN */
.login{
    border-radius: 0.2em;
    padding: 2em 1em ;
    margin: 5em 0.5em 0.5em 0.5em;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(239,239,239,0.39);
    -moz-box-shadow: 0px 0px 20px 1px rgba(239,239,239,0.39);
    box-shadow: 0px 0px 20px 1px rgba(239,239,239,0.39);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.login img{
    max-width: 100%;
    padding: 1em;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(239,239,239,1);
    -moz-box-shadow: 0px 0px 5px 3px rgba(239,239,239,1);
    box-shadow: 0px 0px 5px 3px rgba(239,239,239,1);
    background-color: rgba(239,239,239,0.8);
    border-radius: 0.2em;
    margin-bottom: 3em;
}
.login-password, .login-username{
    border-bottom: 2px solid #efefef;
    width: 100%;
    margin-bottom: 1em;
}
.input-login{
    text-align: left;
    color: #efefef;
    line-height: 1.2em;
    display: block;
    width: 100%;
    height: 2em;
    background-color: transparent;
    padding: 1.5em;
    outline: none;
    border: none;
}
.ver-pass{
    float: right;
    position: relative;
    top: -2.5em;
    padding: 0.5em;
}
.login-btn{
    text-transform: uppercase;
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em 5em;
    border-radius: 1em;
    background: rgba(255,93,177,1);
    background: -moz-linear-gradient(top, rgba(255,93,177,1) 0%, rgba(118,120,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,93,177,1) 0%, rgba(118,120,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,93,177,1) 0%, rgba(118,120,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,93,177,1) 0%, rgba(118,120,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,93,177,1) 0%, rgba(118,120,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#7678ff', GradientType=0 );
    border: 0;
    outline: 0;
    color: white;
    font-weight: bold;
}
.login-btn:hover{
    background: rgba(255,10,137,1);
    background: -moz-linear-gradient(top, rgba(255,10,137,1) 0%, rgba(26,29,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,10,137,1) 0%, rgba(26,29,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,10,137,1) 0%, rgba(26,29,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,10,137,1) 0%, rgba(26,29,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,10,137,1) 0%, rgba(26,29,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0a89', endColorstr='#1a1dff', GradientType=0 );
}
/* END LOGIN*/
.boton_layout{
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.canal_informacion .info_canal{
    display: block;
    padding-top: 0.5em;
    width: 100%;
}
.ui-widget-header{
    background-color: inherit;
    border: 0;
}
.canal_etiqueta{
    text-decoration: underline;
}
#tabs{
    background-color: #23272b;
    border: 0;
}
.ui-widget-content{
    color: #efefef;
}
.cabecera_canal{
    margin-bottom: 1em;
}
.cabecera_canal img{
    width: 19%;
    border: 2px solid #efefef;
    border-radius: 0.5em;
    display: inline-block;
}
.cabecera_canal .informacion_general{
    padding-left: 1em;
    width: 80%;
    display: inline-block;
}
.informacion_general span,.informacion_general h1{
    width: 100%;
    display: block;
}
.enlace_usuario{
    color:#efefef;
}
.panel_usuarios{
    display: flex;
    flex-wrap: wrap;
}
.panel_usuario{
    text-align: center;
    border: 1px solid #efefef;
    flex-basis: 25%;
    display: inline-block;
    padding: 1em;
    min-height: 15em;
}
.avatar_usuario{
    margin-bottom: 1em;
    max-width: 100%;
    border-radius: 1em;
    max-height: 5em;
    min-height: 5em;
}
.descripcion_usuario{
    margin: 0.5em;
    text-decoration: underline;
    font-size: 1.25em;

}
.titulo_seccion{
    font-weight: bold;
}
.avatar_lista, .miniatura_lista{
    max-width: 5em;
}
.panel_categoria, .panel_video{
    display: table;
    width: 100%;
    border-bottom: 1px solid #efefef;
}
.descripcion_categoria, .titulo_video, .video_descripcion, .info_video{
    color: #efefef;
    text-decoration: none;
}
.panel_categoria:hover, .panel_video:hover,.panel_usuario:hover, .creador_video:hover{
    background-color: #43474b;
    color: #efefef;
    text-decoration: underline;
    cursor: pointer;
}
.imagen_categoria, .imagen_video{
    width: 10em;
    vertical-align: middle;
    display: table-cell;
    padding: 0.5em;
}
.avatar_canal{
    max-width: 5em;
    margin-right: 2em;
}
.imagen_categoria img{
    border-radius: 0.1em;
    width: 9em;
}
.imagen_video img{
    width: 9em;

    max-width: 9em;
}
.enlace_categoria, .enlace_video, .enlace_usuario{
    color: #efefef;
    width: 100%;
    display: block;
    padding: 1em;
    padding-bottom: 2em;
}
.enlace_video:hover{
    text-decoration: none;
}
.descripcion_categoria, .descripcion_video{
    vertical-align: middle;
    display: table-cell;
}

.nombre_categoria{
    font-size: 1.2em;
    margin-top: auto;
    margin-bottom: auto;
}
.editar_categoria, .editar_video{
    padding: 0.5em;
    margin-right: 1em;
    display: table-cell;
    vertical-align: middle;
    width: 4em;
}
.pnlAccionNueva{
    margin-bottom: 1em;
    margin-top: 1em;
}
.pantalla_video{
    max-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}
.pnlAccionNueva span{
    margin: 1em;
}
.descripcion_video .titulo_video, .descripcion_video .video_descripcion{
    width: 100%;
    display: block;
}
.descripcion_video .titulo_video{
    font-size: 1.5em;
    padding-bottom: 0.5em;
    font-weight: bolder;
}
.info_video{
    margin-top: 0.5em;
    width: 33%;
    display: inline-block;
}
.etiqueta_info{
    text-decoration: underline;
}
.creador_video{
    border: 2px solid #efefef;
    padding: 1em;
    width: auto;
    display: block;
    color:#efefef;
    margin-bottom: 1em;
}
.nombre_canal_video{
    font-size: 1.5em;
}
@media (min-width: 768px){
    /* LOGIN */
    .login{
        padding: 4em;
        width: 50%;
    }
    .login img{
        padding: 1em;
        margin-bottom: 3em;
    }
    /*END LOGIN*/
}