{% extends 'layout.html.twig' %}

{% block title %} Login - DevVideos{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.message }}
        </div>
    {% endif %}
    <form action="{{ path('usuario_entrar') }}" method="post">
        <div class="login">
            <img src="{{ asset('/archivos_web/logo_w_300px.png') }}">
            <div class="login-username">
                <input type="text" name="_username" placeholder="Usuario" class="input-login input-username" autofocus>
            </div>
            <div class="login-password">
                <input type="password" name="_password" placeholder="Contraseña" class="input-login input-username" id="txtpass">
                <label id="show-pass" class="ver-pass"><input type="checkbox" id="cbox1" value="first_checkbox" style="display: none;"> <i class="fas fa-eye"></i></label>
            </div>
            <div class="botonera_login">
                <button type="submit" class="login-btn">Entrar</button>
                <a href="{{ path('portada') }}" class="login-btn"> Volver</a>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
<script>
    $('#cbox1').on('change', function(){
        if($('#cbox1').is(':checked')) {
            $('#txtpass').attr('type','text');
            $(this).addClass('active');
        }
        else {
            $('#txtpass').attr('type','password');
            $(this).removeClass('active');
        }
    });
</script>
{% endblock %}